* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-image: url("contact.jpg");
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #fafafa;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fefeff;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fffdfd;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-btn {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}
